<h3>■支店一覧</h3>
<% @companeys.each do |comapaney| %>
    <div>
        <div><a href="/companeys/detail/<%= comapaney.id%>" style="color:black;"><%= comapaney.company_name %></a></div>
    </div>
<% end %>
<div><a href="/companeys/new" style="color:black;">会社登録</a></div>