/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_self
 */
 body{
    margin: 0;
    padding: 0;
}


 #container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cccccc;
    width: 100vw;
    height: 100vh;
    z-index: -999;
 }

 #header{
     background: black;
     color: white;
     height: 40px;
     line-height: 40px;
 }

 #header > #title{
     float: left;
     margin-left: 50px;
 }

 #header > #header-menu{
     float: right;
     margin-right: 50px;
 }

 #header-menu > span{
     margin-left: 20px;
 }

#main-content{
    clear: both;
    position: fixed;
    left: calc(50vw - 360px);
    top: 0px;
    height: 100vh;
    width: 720px;
    background-color: white;
    z-index: -998;
    filter: drop-shadow(2px 0 8px #aaaaaa);

    background: white;
}

a{
    text-decoration: none;
    color: white;
}